<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vite App</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

</head>

<body>


<div class="container">
    <div class="row">
        <div class="col">
            <div id="users">
                <input class="search" placeholder="Search"/>
                <button class="sort" data-sort="name">
                    Sort by name
                </button>
            </div>
        </div>
        <div class="col">
            <table>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr>
                    <td class="name">Jonny Stromberg</td>
                    <td class="born">1986</td>
                </tr>
                <tr>
                    <td class="name">Jonas Arnklint</td>
                    <td class="born">1985</td>
                </tr>
                <tr>
                    <td class="name">Martina Elm</td>
                    <td class="born">1986</td>
                </tr>
                <tr>
                    <td class="name">Gustaf Lindqvist</td>
                    <td class="born">1983</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
</body>
<script>
    var options = {
        valueNames: ['name', 'born']
    };

    var userList = new List('users', options);


</script>
<script>

    listObj.search(['born'], searchFunction); // Custom search in the 'name' column

    function searchFunction(searchString, columns) {
        for (var k = 0, kl = listObj.items.length; k < kl; k++) {
            listObj.items[k].found = false;

            // Insert your custom search logic here, set found = true

        }
    };
</script>
</html>